/* ==========================================================================
   CUSTOM STYLES
   ========================================================================== */

/*-- Global --*/
body {
    font-family: "Helvetica Neue", sans-serif;
    padding-bottom: 20px;
}

.btn-primary{
    width: 225px;
    height: 50px;
    line-height: 50px;
    background-image: none;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    text-shadow: none;
    padding: 0;
    font-size: 20px;
}
.btn-primary:hover{
    background-color: rgba(34, 34, 34, .5);
    border: 1px solid white;
}

/*-- Navigation --*/
nav.navbar{
    margin-bottom: 0;
    border: none;
}

nav .nav-first-level{
    height: 100px;
    background-color: white;
}

nav .nav-second-level{
    background-color: #00A0E6;
}

.navbar-default .navbar-nav>li>a{
    color: white;
    font-size: 18px;
    text-shadow: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover{
    color: #E9FF43;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}

.navbar-default .navbar-nav>.active>a:focus{
    color: #E9FF43;
    background-color: transparent;
    background-image: none;
}

.navbar-brand{
    width: 200px;
}

.navbar-brand img{
    width: 100%;
}


/*-- Content --*/
.jumbotron{
    background-image: url("../img/sepia-plane.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    margin: 0;
    position: relative;
    padding: 0;
}

.jumbotron .container{
    background-color: rgba(0, 160, 230, .5);
    margin: 0 auto;
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
}

.jumbotron .container h2{
    color: white;
    font-weight: 400;
}


.action-bar{
    height: 180px;
    width: 100%;
    background-color: #222;
    padding: 50px;
}

.action-bar h3{
    color: white;
    text-align: center;
    margin: 10px 0;
}

.action-bar div a{
    margin: 0 auto;
    display: block;
}




/* Mobile Styles */
@media only screen and (max-width: 991px) {
    .action-bar {
        padding: 30px;
    }
}








