/* ==========================================================================
   CUSTOM STYLES
   ========================================================================== */

/*-- Global --*/
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:rgba(0,0,0, .3); /* Set a background color */
	
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

body {
    font-family: "Helvetica Neue", sans-serif;
}
.container{
	padding-left:0px;
	padding-right:0px;
    margin-right: auto;
    margin-left: auto;

}
.container-fluid{
padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

p{
    font-size: 16px;
}
div.banner{
	height:400px;
}

div.img-banner-container{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

div.banner img{
	width: 100%;
	/*max-height:400px;*/
}
div.bannertitle {
	background-color: rgba(0, 160, 230, .5);
	position: relative;
	width: 85%;
	text-align: center;
    bottom: 120px;
    left: 0;
    right: 0;
	font-size:30px;
	color:white;
	margin:0 auto;
	padding:20px 0px;
}
div.aboutsections .col-md-10{
	border-bottom:1px solid #BDBDBD;
	
}
div.aboutsections .col-md-9{
	border-bottom:1px solid #BDBDBD;
}
div.aboutsections .col-md-2{
	text-align:right;
	color:#00A0E6;	
}
div.aboutsections .col-md-5 {
    text-align:left;
    color:#00A0E6;
}

div.aboutoverviewimage img{
	height:300px;
}

div.image{
	text-align:center;
}
div.about{
	padding-bottom:20px;
}
div.aboutsections .col-md-2.left{
	text-align:left;
}
div.aboutsections .col-md-2.leftshrink{
	text-align:left;
	color: #00A0E6;
}
div.aboutsections .col-md-2.leftshrink h3{
	font-size: 18px;

}
div.col-md-8.aboutsectionbodyright{
	text-align:right;
	padding-right:0;
	padding-left:0;
}
div.imageleft img{
	border-radius:100%;
	margin:0 auto;
	padding-top:20px;
	width:250px;
	float:left;
}
div.imageright img{
	border-radius:100%;
	margin:0 auto;
	padding-top:20px;
	width:250px;
	float:right;
}
div.aboutsectionimage img{
	max-width: 400px; 
	margin: 0 auto; 
	display: block;
	width:250px;
}
.aboutsectionbody{
	padding-top:20px;
	padding-left:15px;
	padding-right:0;
}
div.aboutsections{
	margin:50px;
}
div.aboutsections h3{
	font-size: 20px;
}
/* Headers */
.blueHeader{
    font-size: 20px;
    color: #00A0E6;
}

.header2{
    color: #95989A;
}


/* Slider Carousel */
 div.carousel-caption{
	background-color: rgba(0, 160, 230, .5);
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
	font-size:30px;

}
div.carousel-caption a.btn-primary{
	width: 225px;
    line-height: 50px;
    background-image: none;
    border-radius: 15px;
    background-color: transparent;
	border: 1px solid white;
    color: white;
    text-shadow: none;
    padding:0;
    font-size: 20px;
	margin:0 auto;
}

.btn-primary{
    width: 225px;
    height: 50px;
    line-height: 50px;
    background-image: none;
    border-radius: 15px;
    background-color: #00A0E6;
    color: white;
    text-shadow: none;
    padding: 0;
    font-size: 20px;
}
.btn-primary:hover{
    background-color: rgba(34, 34, 34, .5);
    border: 1px solid white;
}
a.btn-primary.btn-sm.AboutButton{
	 width: 163px;
    height: 27px;
    line-height: 27px;
    background-image: none;
    border-radius: 8px ;
	border-color:#ffffff;
    background-color: transparent;
    color: white;
    text-shadow: none;
    padding: 0;
    font-size: 14px;
}
a.btn-primary.btn-sm.AboutButton:hover{
	color:#00A0E6;
	background-color:#ffffff;
}
a.btn-primary.btn-sm.AboutButtonBlue{
	 width: 163px;
    height: 27px;
    line-height: 27px;
    background-image: none;
    border-radius: 8px ;
    color:#ffffff;
	border:0px;
	background-color:#00A0E6;
    text-shadow: none;
    padding: 0;
    font-size: 14px;
}
a.btn-primary.btn-sm.AboutButtonBlue:hover{
	color: #00A0E6;
	background-color: transparent;
	
	border:1px solid #00A0E6;
}
div.col-md-4.videos{
	text-align:center;
}
div.videos img{
	padding-bottom:20px;
}
div.videos p{
	margin:0;
	padding:0;
}
div.buttoncenter{
	text-align:center;
	margin:0 auto;
}
div.activities{
	text-align:center;
}
div.activities .filter.hdpe{
	padding-bottom:60px;
}
div.activities img{
	margin-bottom:20px;
	border:1px solid #000000;
}
button.gallery {
   background-color: #ffffff;
   border: #00A0E6 1px solid;
   width: 95%;
   height: 60px;
   margin-top: 20px;
   margin-bottom: 70px;
   font-color: #00A0E6 !important;
   font-weight: bold;
   font-size: 18px;
}
.mission{
	text-align:center;
	margin: 30px;
}

/*-- Navigation --*/
nav.navbar{
    margin-bottom: 0;
    border: none;
}

nav .nav-first-level{
    height: 100px;
    background-color: white;
}

nav .nav-second-level{
    background-color: #00A0E6;
}

.navbar-default .navbar-nav>li>a{
    color: white;
    font-size: 14px;
    text-shadow: none;
    padding: 10px 10px 10px 0px;

}
.navbar-nav li a{
	padding:10px 15px 10px 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover{
    color: #ffffff;
    background-color:#3c3c3c;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}

/*.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:focus{*/
    /*color: #00A0E6;*/
    /*background-color: transparent;*/
    /*background-image: none;*/
/*}*/

.navbar-brand{
    width: 200px;
}

.navbar-brand img{
    width: 100%;
}

.carousel-inner{
	max-height:450px;
}

.carousel-inner img{
	width:100%;
}

/*-- Content --*/
.quicklinks{
	text-align:center;
	margin:50px;
}
.quicklinks img{
	width:100%;
	max-height:223px;
}
.quicklinks h4{
	font-size:22px;
	color: #00A0E6;
	padding:5px 0;
}

.jumbotron .container{
    background-color: rgba(0, 160, 230, .5);
    margin: 0 auto;
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
}

.jumbotron .container h2{
    color: white;
    font-weight: 400;
}


.action-bar{
    height: 180px;
    width: 100%;
    background-color: #222;
    padding: 70px;
}

.action-bar h3{
    color: white;
    text-align: center;
    margin: 10px 0;
	font-size: 30px;
    font-weight: 400;
}

.action-bar div a{
    margin: 0 auto;
    display: block;
}

/* Blue Section */
.sub-section{
    background-color: #00A0E6;
    padding: 30px;
}
div.sub-section .mainpage p{
	text-align:left;
}

.sub-section h2{
    color: white;
	font-size:24px;
}
.sub-section h3{
    color: white;
	font-size:20px;
}

.sub-section img{
    padding: 20px;
	width:75%;
	
}

.sub-section p{
    color: white;
    padding: 20px;
	text-align:center;
}

/* Black Section */
.black-section{
    background-color: #222;
    padding: 30px;
}




/* About Page */
.img-content-right-container{
    margin: 70px auto 50px auto;
    max-width: 500px;
    display: block;
}


/* Board Members */

.content-line{
    height:1px;
    background-color: #BDBDBD;
    margin: 25px auto;
}

.img-container{
    max-width: 394px;
    margin: 0 auto;
    display: block;
}
.img-container img{
    width: 100%;
}

.img-container-left{
    padding: 10px 25px;
}
.img-container-right{
    padding: 10px 25px;
    float: right;
}

.board-members-header-left{
    text-align: left;
}

.board-members-header-right{
    text-align: right;
    float: right;
}

.board-members-text{
    margin-bottom: 50px;
}

.board-members-img-text{
    background-color: #00A0E6;
    width: 100%;
    color: white;
    padding: 10px 0;
}

.board-members-img-text p{
    text-align: center;
}







/* Contribute Page */

.contribute-donate-btn{
    background-color: white;
    color: #00A0E6;
    border: 1px solid #00A0E6;
}
.contribute-donate-btn:hover{
    background-color: #00A0E6;
    color: white;
}


/* Contact Page */
.contactForm{
    margin-bottom: 100px;
}

.contactForm form{
    float: none;
}

.contactInput{
    background-color: #ddd;
    border-radius: 8px;
    border: 1px solid #95989A;
    height: 30px;

}

.submitBtn{
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 45px;
    font-size: 24px;
    background-color: white;
    border: 1px solid #00A0E6;
    color: #00A0E6;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.submitBtn:hover{
    background-color: #00A0E6;
    color: white;
}





/* Footer */
footer{
    background-color: #3C3C3C;
    color: white;
    padding:20px;
}

footer div.nav-items{
   padding: 0 15px;
    margin-top: 20px;

}

footer div.nav-items div{
    padding: 10px;
}
footer div.nav-items div a{
    color: white;
    text-align: center;
}
footer div.nav-items div a:hover{
    color: #00A0E6;
    text-decoration: none;
}


footer div.contact-items{
    margin-top: 20px;
}

footer div.contact-items a{
    color: white;
    font-size: 12px;
}
footer div.contact-items a:hover{
    color: #00A0E6;
    text-decoration: none;
}

footer div.socialIcons{
    padding:20px;
}
footer div.socialIcons div.socialImg{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    background-color: #00A0E6;
    cursor: pointer;
}
footer div.socialIcons div.socialImg:hover{
    background-color: white;
    color: #00A0E6;
}


.vertical-line{
    height: 30px;
    width: 1px;
    background-color: white;
}











/* Mobile Styles */

/* md break point and down*/
@media only screen and (max-width: 991px) {
    .action-bar {
        padding: 30px;
    }

    .quicklinks img{
        width: 75%;
        max-height: 100%;
    }

    .board-members-header-left{
        text-align: center;
    }

    .board-members-header-right{
        float: none;
        text-align: center;
    }

    .img-container-right{
        float: none;
    }

    .footer div.contact-items{
        margin-top: 40px;
    }
	div.quicklinksection{
		padding-bottom:50px;
	}
}


/* sm and up*/
@media only screen and (min-width: 768px) {

    .hide-on-desktop {
        display: none;
    }

    .mobileJumbotron{
        display: none;
    }
}

/* sm and down*/
@media only screen and (max-width: 767px) {
    
    .hide-on-mobile{
        display: none;
    }

    .navbar-default .navbar-toggle{
        background-color: white;
        border: 1px solid #00A0E6;
        transition: background-color .3s ease-in-out;
    }

    .navbar-default .navbar-toggle:focus{
        background-color: transparent;
    }
    .navbar-default .navbar-toggle:hover{
        background-color: #00A0E6 !important;
    }

    .navbar-default .navbar-toggle .icon-bar{
        background-color: #00A0E6;
        transition: background-color .3s ease-in-out;
    }

    .navbar-default .navbar-toggle:hover .icon-bar{
        background-color: white;
    }

    .nav-first-level{
        padding: 20px;
    }

    .navbar-brand{
        margin-top: -30px;
    }

    .navbar-nav{
        margin-top: 0;
        margin-bottom: 0;
    }
	.navbar-default .navbar-nav>li>a{
		padding-left:15px;
	}
	.navbar-default .navbar-nav>li>a:hover{
		background-color:white;
		color:#00A0E6;
	}

   .banner, #carousel-example-generic{
        display:none;
    }

    .mobileJumbotron{
        display: block;
        background-image: url("../img/sepia-plane.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height:300px;
    }
    .mobileJumbotron h2{
        width: 100%;
        margin-top: 200px;
        color: white;
        text-align: center;
        padding:20px;
        font-weight: 400;
    }



    /*Board member and Civil Air Patrol Mobile*/
    .content-line{
        margin-top: 0;
    }




}
