/* ==========================================================================
   CUSTOM STYLES
   ========================================================================== */

/*-- Global --*/
body {
    font-family: "Helvetica Neue", sans-serif;
}
.container{
	padding-left:0px;
	padding-right:0px;
    margin-right: auto;
    margin-left: auto;

}
.container-fluid{
padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

p{
    font-size: 16px;
}


/* Slider Carousel */
 div.carousel-caption{
	background-color: rgba(0, 160, 230, .5);
    margin: 0 auto;
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
	font-size:30px;

}
div.carousel-caption a.btn-primary{
	width: 225px;

    line-height: 50px;
    background-image: none;
    border-radius: 15px;
    background-color: transparent;
	border: 1px solid white;
    color: white;
    text-shadow: none;
    padding:0;
    font-size: 20px;
	margin:0 auto;
}

.btn-primary{
    width: 225px;
    height: 50px;
    line-height: 50px;
    background-image: none;
    border-radius: 15px;
    background-color: #00A0E6;
    color: white;
    text-shadow: none;
    padding: 0;
    font-size: 20px;
}
.btn-primary:hover{
    background-color: rgba(34, 34, 34, .5);
    border: 1px solid white;
}
.mission{
	text-align:center;
	margin: 30px;
}
.header2{
	color: #95989A;
}
/*-- Navigation --*/
nav.navbar{
    margin-bottom: 0;
    border: none;
}

nav .nav-first-level{
    height: 100px;
    background-color: white;
}

nav .nav-second-level{
    background-color: #00A0E6;
}

.navbar-default .navbar-nav>li>a{
    color: white;
    font-size: 14px;
    text-shadow: none;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover{
    color: #ffffff;
    background-color:#3c3c3c;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}

/*.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:focus{*/
    /*color: #00A0E6;*/
    /*background-color: transparent;*/
    /*background-image: none;*/
/*}*/

.navbar-brand{
    width: 200px;
}

.navbar-brand img{
    width: 100%;
}

.carousel-inner{
	height:400px;
}

.carousel-inner img{
	width:100%;
}

/*-- Content --*/
.quicklinks{
	text-align:center;
	margin:50px;
}
.quicklinks img{
	width:100%;
	max-height:223px;
}
.quicklinks h4{
	font-size:22px;
	color: #00A0E6;
	padding:5px 0;
}

.jumbotron .container{
    background-color: rgba(0, 160, 230, .5);
    margin: 0 auto;
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
}

.jumbotron .container h2{
    color: white;
    font-weight: 400;
}


.action-bar{
    height: 180px;
    width: 100%;
    background-color: #222;
    padding: 70px;
}

.action-bar h3{
    color: white;
    text-align: center;
    margin: 10px 0;
	font-size: 30px;
    font-weight: 400;
}

.action-bar div a{
    margin: 0 auto;
    display: block;
}






/* Blue Section */
.sub-section{
    background-color: #00A0E6;
    padding: 30px;
}

.sub-section h2{
    color: white;
}

.sub-section img{
    padding: 20px;
}

.sub-section p{
    color: white;
    padding: 20px;
}

/* Black Section */
.black-section{
    background-color: #222;
    height: 400px;
    padding: 30px;
}



/* Footer */
footer{
    background-color: #3C3C3C;
    color: white;
    padding:20px;
}

footer div.nav-items{
   padding: 0 15px;
    margin-top: 20px;

}

footer div.nav-items div{
    padding: 10px;
}
footer div.nav-items div a{
    color: white;
    text-align: center;
}
footer div.nav-items div a:hover{
    color: #00A0E6;
    text-decoration: none;
}


footer div.contact-items{
    margin-top: 20px;
}

footer div.contact-items a{
    color: white;
    font-size: 12px;
}
footer div.contact-items a:hover{
    color: #00A0E6;
    text-decoration: none;
}


.vertical-line{
    height: 30px;
    width: 1px;
    background-color: white;
}




/* Mobile Styles */
@media only screen and (max-width: 991px) {
    .action-bar {
        padding: 30px;
    }

    .quicklinks img{
        width: 75%;
        max-height: auto;
    }
    .footer div.contact-items{
        margin-top: 40px;
    }
}